body {

margin:0; padding: 0; font-family: Arial, sans-serif;
background-color: Green;
line-height: 1.5;

}

header {

background-color: Green;
color:White;
padding: 0px

}

.container {width: 90%; max-width: 1100px; margin: 20px auto; background: white; padding: 1px; border-radius: 8px;}

.site-header {
    background-image: url("https://www.thesun.ie/wp-content/uploads/sites/3/2025/11/2f6cb165-916f-4bcc-bf2b-ae37e359cd94.jpg?resize=1620,1080&quality=90&strip=all");    
    background-size: cover;       
    background-position: Center;  
    height: 300px;                
    color: Black;                 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    
}

header .header-container{

    width: 90%; max-width: 1100px; margin: 0px auto; background: white; padding: 0px; border-radius: 0px;text-align: center;
}

header h1 {margin: 0;}
                 
nav {background-color: #084c37; display: flex; justify-content: center; padding: 10px;}

nav a {color:white; text-decoration: none; margin: 0 15px; font-weight: bold;}


.container {width: 90%; max-width: 1100px; margin: 20px auto; background: white; padding: 20px; border-radius: 8px;}

table { width:100%; table-layout: fixed; border-collapse: collapse; margin-top: 20px}

table, th, td {width: 100%; padding: 10px; text-align: left; border: 1px solid #ddd; }

th { background-color: Dark green; color: Green; padding: 10px; }

td { padding: 10px;}

input[type="submit"] { margin-left: 52px}






